<h1 class="text-center mb-4">Breeds</h1>

<!-- Search Form -->
<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with url: breeds_path, method: :get, local: true, class: "d-flex" do |form| %>
        <%= form.text_field :search, value: params[:search], class: "form-control me-2", placeholder: "Search Breeds" %>
        <%= form.submit "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<!-- Breeds List -->
<div class="container mb-4">
  <div class="row">
    <% if @breeds.any? %>
      <% @breeds.each_slice(3) do |breed_row| %>
        <div class="row">
          <% breed_row.each do |breed| %>
            <div class="col-md-4">
              <div class="card h-100 mb-4">
                <div class="card-body">
                  <h5 class="card-title">
                    <!-- Link to breed details page -->
                    <strong><%= link_to breed.name, breed_path(breed) %></strong>
                    <% if breed.sub_breed.present? %>
                      (<%= breed.sub_breed %>)
                    <% end %>
                  </h5>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <!-- Conditional ERB: If no breeds are found -->
      <div class="alert alert-warning">No breeds found.</div>
    <% end %>
  </div>
</div>

<!-- Pagination Links -->
<div class="container mb-4">
  <div class="row">
    <div class="col-md-12 text-center">
      <%= paginate @breeds %> <!-- Pagination links for breeds -->
    </div>
  </div>
</div>

<!-- Google Chart Section -->
<h1 class="text-center mb-4">Breeds and Comment Counts</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div id="commentsChart" style="width: 100%; height: 500px;"></div>
    </div>
  </div>
</div>

<!-- Conditional ERB: Only load the chart if there are breeds -->
<% if @breeds.any? %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Breed', 'Number of Comments'],
        <% @breeds.each do |breed| %>
          ['<%= breed.name %> (<%= breed.sub_breed if breed.sub_breed.present? %>)', <%= breed.comments_count %>],
        <% end %>
      ]);

      var options = {
        title: 'Breed Comment Counts',
        hAxis: {title: 'Breed'},
        vAxis: {title: 'Number of Comments'},
        legend: 'none'
      };

      var chart = new google.visualization.ColumnChart(document.getElementById('commentsChart'));
      chart.draw(data, options);
    }
  </script>
<% end %>
