<h1><%= @user.name %>'s Profile</h1>

<p><strong>Email:</strong> <%= @user.email %></p>

<h2>Breeds Commented On</h2>
<% if @unique_breeds.any? %>
  <ul class="list-group mb-4">
    <% @unique_breeds.each do |breed| %>
      <li class="list-group-item">
        <%= link_to breed.name, breed_path(breed) %>
        <% if breed.sub_breed.present? %>
          <span class="text-muted">(<%= breed.sub_breed %>)</span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>This user has not commented on any breeds yet.</p>
<% end %>

<h2>Comments</h2>

<% if @comments.any? %>
  <ul class="list-group">
    <% @comments.each do |comment| %>
      <li class="list-group-item">
        <strong><%= link_to comment.breed.name, breed_path(comment.breed) %>:</strong>
        <%= comment.content %>
        <p class="text-muted"><small>Posted on <%= comment.created_at.strftime("%B %d, %Y") %></small></p>
      </li>
    <% end %>
  </ul>
  <%= paginate @comments %>
<% else %>
  <p>No comments available.</p>
<% end %>
